body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f45b69; 
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  canvas, video {
    border: 1px solid;
    width: 200px;
    height: auto;
    margin: 10px;
  }
  
  canvas {
    border-color: black;
  }
  
  video {
    border-color: blue;
  }
  
  .controls {
    text-align: center;
  }
  

  


  }
  button:hover {
    background-color: #f24353;
  }
   button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }